<%- include('./layouts/header') %>

<h1 class="page-title">
  <span class="go-back" onclick="window.history.back()">←</span> Profile
</h1>

<div class="profile-container">
  <div class="profile-item">
    <p class="profile-title">ID</p>
    <p class="profile-subtitle"><%= person.id %></p>
  </div>
  <div class="profile-item">
    <p class="profile-title">Email/Username</p>
    <p class="profile-subtitle"><%= person.email %></p>
  </div>
  <div class="profile-item">
    <p class="profile-title">Role</p>
    <p class="profile-subtitle"><%= person.role %></p>
  </div>
  <div class="profile-item">
    <p class="profile-title">User Object</p>
    <pre class="profile-subtitle"><%= JSON.stringify(person, null, 2) %></pre>
  </div>
</div>

<%- include('./layouts/footer') %>
